footer {
    padding: 2rem 1rem 30px 30px;
    background-color: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin: 0;
    bottom: 0px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .footer-top {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .footer-title {
    font-size: 1.8rem;
    color: black;
    font-weight: 500;
    margin-bottom: 1rem;
    margin: auto;
    display: flex;
  }
  
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
  
  .footer-list-link {
    color: black;
    text-decoration: none;
    transition: color 0.25s;
  }
  
  .footer-list-link:hover {
    color: #353535;
  }
  
  .footer-divider {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  span {
    color: black;
    transition: color 0.25s;
    text-decoration-color: #353535;
  }
  span > a {
    text-decoration-color: #353535;
  }
html > a {
    text-decoration-color: black;
    color: black;
}
  span:hover {
    color: #353535;
    text-decoration-color: #353535;
  }
  .copyright{
    color: black;
    transition: color 0.25s;
    text-decoration-color: #353535;
  }
  .copyright:hover {
    color: #353535;
    text-decoration-color: #353535;
  }