@import url(imports/conversor.css);
@import url(imports/navbar.css);
@import url(imports/rules.css);
@import url(imports/font-pack.css);
@import url(imports/footer.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.text {
    text-align: center;
}

.links {
    margin: 0;
    display: block;
    width: 100%;
    margin: 10px;
}

p {
    margin: 0;
}
 
hr {
    width: 98%;
}

a {
    text-decoration: none;
    border-radius: 3px;
    color: black;
}

label {
    width: 100%;
}

section {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.42) 80%;
}

input {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(117, 117, 117, 0.158);
    padding: 8px;
}

.button {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid rgba(117, 117, 117, 0.158);
    padding: 8px 16px;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.button::hover {
    transform: scale(5px);
}

button {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid rgba(117, 117, 117, 0.158);
    padding: 8px 16px;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}