/* index-style */

/* 
.cartao:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
  box-shadow: 7px 6px 27px -6px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 7px 6px 27px -6px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 7px 6px 27px -6px rgba(0, 0, 0, 0.64);
} */